*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --bg-color: #fff;
    --snd-bg-color:#ecd9ef;
    --text-color:#000;
    --main-color: #8f25a2;
    ;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
/* Header section code */

.header{
    position: fixed;
    width: 100%;
    top: 0;
    right :0;
    z-index: 1000;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;

}


.logo{
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease
}

.logo:hover{
    transform: scale(1.05);
}

.navbar a{
    font-size: 1.7rem;
    color: var(--bg-color);
    margin-left: 2.5rem;
    font-weight: 700;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: var(--text-color);

}

#menu-icon{
    font-size: 3.6rem;
    color: var(--bg-color);
    cursor: pointer;
    display: none;
}

/* Home section code */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 25vw;
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 50%;
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
    

}

.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color);

}

@keyframes floatImage{
    0%{
        transform: translateY(0);  
    }
    50%{
        transform: translateY(-2.4rem);
    }
    100%{
        transform: translateY(0);
    }   
}

.home-content{
    margin-left: 5rem;
}
.home-content h3{
    font-size: 3.7rem;
    font-weight: 700;
}
.home-content h3:nth-of-type(2){
    margin-bottom:2rem;
}

span{
    color: var(--main-color);
}
.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.6rem;    
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover{
    box-shadow: 0 0 1.6rem var(--main-color);
}

/* About section  */

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.about-img img{
    width: 25vw;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease;
}

.about-img img:hover{
    box-shadow: 0 0 25px var(--main-color),
                0 0 35px var(--main-color),
                0 0 45px var(--main-color); 
}

.heading{
    font-size: 6rem;
    text-align: center;
}

.about-content{
    padding: 0 4rem;
}

.about-content h2{
    text-align: left;
    line-height:1.2;
}

.about-content h3{
    font-size: 3rem;
}

.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}


/* Skill section code */



.skills .heading{
    color: var(--main-color);
    font-size: 5rem;
}
.carousel-container {
  position: relative;
  width: 79%;
  margin: 2em auto;
  margin-top: 1rem;
}

.carousel {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 20px 0;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.skill-item {
  min-width: 20rem;
  height: 10rem;
  font-size: 2rem;
  background: linear-gradient(var(--snd-bg-color), var(--bg-color));
  border-radius: 2rem;
  border: 1px solid var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}


.skill-item:hover{
    box-shadow: 0 0 10px var(--main-color);
    transition: 0.3s ease; 
}

/* Arrow Buttons */

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: var(--main-color);
  color: #fff;
  border: none;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.left {
  left: -20px;
}

.right {
  right: -20px;
}


/* Certication */


.certification .heading{
    font-size: 5rem;
    

}
.certification-content{
    height: 16rem;
    width: 100rem;
    cursor: pointer;
    border-radius: 2rem;
    margin-top: 2rem;
    margin-left: 5rem;
    background: linear-gradient(var(--snd-bg-color) , var(--bg-color ));
    padding: 2rem;
    padding-left: 5rem;
    border: 1px solid var(--main-color);


}   
.certification-content:hover{
    box-shadow: 0 0 10px var(--main-color);
    transition: 0.3s ease;
} 

.certification-content li{
    font-size: 2rem;
    line-height: 40px;
    
}

/* Project Section  */

.projects{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}

.project-img img{
    width: 25vw;
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.project-img img:hover{
   box-shadow: 0 0 25px var(--main-color);
}

.project-container{
    width: 100rem;
    text-align: left;
}
.project-container h3{
    font-size: 3rem;
    margin-top: 40px;
}
.project-content {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    line-height: 3.5rem;
}

.btn-container{
    margin-top: 35px;
    display: flex;
    gap: 18rem;
}


/* Experience section */

.experience-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5rem;
    margin-top: -30px;
}

.experiences .heading{
    color: var(--main-color);
}
.exp1, .exp2 ,.exp3{
    margin-top: 5rem;
    height: 35rem;
    width: 70rem;
    background: linear-gradient(var(--snd-bg-color) 50% , var(--bg-color ));
    border-radius: 2rem;
    border: 1px solid var(--main-color);
    padding: 2rem;
    line-height: 30px;
    cursor: pointer;
    transition: 0.4s ease;

}

.exp1 h1,.exp2 h1,.exp3 h1{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}
.exp1 h3,.exp2 h3,.exp3 h3{
    font-size: 1.3rem;
    margin-bottom: -5px;
}

ul{
    font-size: 1.5rem;
    padding-left: 2rem;

}
.exp1 h4,.exp2 h4,.exp3 h4{
      font-size: 1.2rem;
      margin-bottom: 5px;


}

.exp1:hover , .exp2:hover ,.exp3:hover{
     box-shadow: 0 0 15px var(--main-color);
}

/* Education section  */


.education{
    align-items: center;
    justify-content: center;
    background: var(--snd-bg-color);

}
.education-content{
    height: 25rem;
    width: 100rem;
    background-color:var(--bg-color);
    border: 1px solid var(--main-color);
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.4s ease;
    text-align: left;
    padding:2rem;
    margin-top: 4rem;
    margin-left: 5rem;
}

.edu1,.edu2{
    margin: 2rem;
}

.course{
    font-size: 2.5rem;
}
.clg{
    font-size: 2rem;
}
.grade{
    font-size: 1.5rem;
}


.education-content:hover{
  box-shadow: 0 0 25px var(--main-color);
}

.education .btn{
    margin-top: 3rem;
    align-content: center;
    margin-left: 43%;
}


/* Contact section  */

.contact{
    background: var(--bg-color);
}

.contact .heading{
    text-align: center;
}
.contact h2{
    margin-bottom: 3rem;
    color: var(--main-color);

}

.contact form{
    max-width: 80rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 0.25rem solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}

.contact form .input-box input{
    width: 49%;
    margin: 0.7rem 0.35rem;
}
.contact form .btn{
    margin-top: 2rem;

}


/* Footer section  */

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--snd-bg-color);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a{
    font-size: 25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease;
}

.footer .social a:hover{
     transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}


/* Responsive design code  */

@media (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media(max-width: 991px){
    .header{
        padding:2rem 3%;
    }
    section{
        padding: 10rem 3%;
    }
    .contact form .input-box input{
        width: 100%;

    }
    .footer{
        padding: 2rem 3%;
    }
}

@media(max-width: 991px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: var(--main-color);
        transition: all 0.5s ease;
        backdrop-filter: blur(10px);
    }
    .navbar a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar.active{
        right: 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size: 2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content{
        order: 2;
        margin-left: 1rem;
    }
    .home-img img{
        width: 55vh;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column-reverse;
    }
    .about-img img{
        width: 55vh;
        margin-top: 4rem ;
    }
}

@media(max-width: 617px){
    .home-img img{
        width: 55vw;
        margin-top: 8rem;
    }

     .about-img img{
        width: 55vw;
        margin-top: 4rem;
    }
}

@media(max-width: 617px){
    html{
        font-size: 50%;

    }
    .active{
        display: block;
    }
}

@media (max-width: 768px) {

    .experience-container {
        flex-direction: column;   
        gap: 3rem;              
        margin-top: 0;
    }

    .exp1, .exp2, .exp3 {
        width: 90%;            
        height: auto;        
    }

}

@media (max-width: 768px) {

    .education-content {
        width: 90%;       
        height: auto;      
        margin-left: 0;   
        margin: 4rem auto;
        padding: 2rem;
    }

    .course {
        font-size: 1.8rem;
    }

    .clg {
        font-size: 1.5rem;
    }

    .grade {
        font-size: 1.3rem;
    }

    .education .btn {
        margin-left: 0;
        display: block;
        text-align: center;
    }

}
@media (max-width: 768px) {

    .skills .heading {
        font-size: 3rem;
        margin-bottom: 3rem;
    }

    .skill i {
        width: 45%;      
        font-size: 1.4rem;
    }
    .skill-item{
        margin: 0.7rem;
    }

}

@media (max-width: 768px) {

    .certification .heading {
        font-size: 3rem;
        margin-top: 3rem;
    }

    .certification-content {
        width: 90%;
        height: auto;      
        margin-left: 0;
        margin: 3rem auto;   
        padding: 2rem;
    }

    .certification-content li {
        font-size: 1.5rem;
        line-height: 30px;
        margin: 1.5rem;
    }

}
@media (max-width: 768px) {

    .projects {
        flex-direction: column;   
        text-align: center;
        padding: 3rem 0;
    }

    .project-container {
        width: 90%;      
    }

    .project-img img {
        width: 80%;     
    }

    .btn-container {
        flex-direction: column;  
        gap: 1.5rem;              
        align-items: center;
    }

    .project-container h3 {
        font-size: 2rem;
    }

    .project-content {
        font-size: 1.4rem;
        line-height: 2.5rem;
    }

}



